// Variables
@import "variables";
.table-type-1 {
    width: 100%;
    color: rgb(33, 156, 151);
}

.table-type-1 th {
    font-size: 24px;
}

.box-height-220 {
    height: 220px;
}

.box-height-260 {
    height: 260px;
}

.box-height-280 {
    height: 280px;
}

.box-type-1 {
    background-color: rgb(136, 158, 179);
    color: white!important;
    text-align: center;
}

.box-type-1 .box-title {
    color: white!important;
}

.report-title {
    position: absolute;
    font-size: 20px;
    top: 5px;
    left: 15px;
    color: rgb(33, 156, 151);
}

#date-range-picker {
    padding: 6px;
    margin-right: 10px;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.display-none {
    display: none;
}