// Variables
@import "variables";



.table-type-1 {
	width: 100%;
	color: rgb(33,156,151);
}

.table-type-1 th {
	font-size: 24px;
}

.box-height-220 {
	height: 220px;
}

.box-height-260 {
	height: 260px;
}

.box-height-280 {
	height: 280px;
}

.box-type-1 {
	background-color: rgb(136,158,179);
	color: white!important;
	text-align: center;
}

.box-type-1 .box-title {
	color: white!important;
}

.report-title {
	position: absolute;
	font-size: 20px;
	top: 5px;
	left: 15px;
	color: rgb(33,156,151);
}