.table-type-1 {
  width: 100%;
  color: #219c97;
}

.table-type-1 th {
  font-size: 24px;
}

.box-height-220 {
  height: 220px;
}

.box-height-260 {
  height: 260px;
}

.box-height-280 {
  height: 280px;
}

.box-type-1 {
  background-color: #889eb3;
  color: white !important;
  text-align: center;
}

.box-type-1 .box-title {
  color: white !important;
}

.report-title {
  position: absolute;
  font-size: 20px;
  top: 5px;
  left: 15px;
  color: #219c97;
}

#date-range-picker {
  padding: 6px;
  margin-right: 10px;
  border-radius: 4px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlc291cmNlcy9hc3NldHMvc2Fzcy9hcHAuc2NzcyIsInJlc291cmNlcy9hc3NldHMvc2Fzcy9fdmFyaWFibGVzLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLy8gVmFyaWFibGVzXHJcbkBpbXBvcnQgXCJ2YXJpYWJsZXNcIjtcclxuLnRhYmxlLXR5cGUtMSB7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGNvbG9yOiByZ2IoMzMsIDE1NiwgMTUxKTtcclxufVxyXG5cclxuLnRhYmxlLXR5cGUtMSB0aCB7XHJcbiAgICBmb250LXNpemU6IDI0cHg7XHJcbn1cclxuXHJcbi5ib3gtaGVpZ2h0LTIyMCB7XHJcbiAgICBoZWlnaHQ6IDIyMHB4O1xyXG59XHJcblxyXG4uYm94LWhlaWdodC0yNjAge1xyXG4gICAgaGVpZ2h0OiAyNjBweDtcclxufVxyXG5cclxuLmJveC1oZWlnaHQtMjgwIHtcclxuICAgIGhlaWdodDogMjgwcHg7XHJcbn1cclxuXHJcbi5ib3gtdHlwZS0xIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYigxMzYsIDE1OCwgMTc5KTtcclxuICAgIGNvbG9yOiB3aGl0ZSFpbXBvcnRhbnQ7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn1cclxuXHJcbi5ib3gtdHlwZS0xIC5ib3gtdGl0bGUge1xyXG4gICAgY29sb3I6IHdoaXRlIWltcG9ydGFudDtcclxufVxyXG5cclxuLnJlcG9ydC10aXRsZSB7XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICBmb250LXNpemU6IDIwcHg7XHJcbiAgICB0b3A6IDVweDtcclxuICAgIGxlZnQ6IDE1cHg7XHJcbiAgICBjb2xvcjogcmdiKDMzLCAxNTYsIDE1MSk7XHJcbn1cclxuXHJcbiNkYXRlLXJhbmdlLXBpY2tlciB7XHJcbiAgICBwYWRkaW5nOiA2cHg7XHJcbiAgICBtYXJnaW4tcmlnaHQ6IDEwcHg7XHJcbiAgICBib3JkZXItcmFkaXVzOiA0cHg7XHJcbn0iLCIiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUEsQUFBQSxhQUFhLENBQUM7RUFDVixLQUFLLEVBQUUsSUFBSTtFQUNYLEtBQUssRUFBRSxPQUFpQjtDQUMzQjs7QUFFRCxBQUFjLGFBQUQsQ0FBQyxFQUFFLENBQUM7RUFDYixTQUFTLEVBQUUsSUFBSTtDQUNsQjs7QUFFRCxBQUFBLGVBQWUsQ0FBQztFQUNaLE1BQU0sRUFBRSxLQUFLO0NBQ2hCOztBQUVELEFBQUEsZUFBZSxDQUFDO0VBQ1osTUFBTSxFQUFFLEtBQUs7Q0FDaEI7O0FBRUQsQUFBQSxlQUFlLENBQUM7RUFDWixNQUFNLEVBQUUsS0FBSztDQUNoQjs7QUFFRCxBQUFBLFdBQVcsQ0FBQztFQUNSLGdCQUFnQixFQUFFLE9BQWtCO0VBQ3BDLEtBQUssRUFBRSxLQUFLLENBQUEsVUFBVTtFQUN0QixVQUFVLEVBQUUsTUFBTTtDQUNyQjs7QUFFRCxBQUFZLFdBQUQsQ0FBQyxVQUFVLENBQUM7RUFDbkIsS0FBSyxFQUFFLEtBQUssQ0FBQSxVQUFVO0NBQ3pCOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ1YsUUFBUSxFQUFFLFFBQVE7RUFDbEIsU0FBUyxFQUFFLElBQUk7RUFDZixHQUFHLEVBQUUsR0FBRztFQUNSLElBQUksRUFBRSxJQUFJO0VBQ1YsS0FBSyxFQUFFLE9BQWlCO0NBQzNCOztBQUVELEFBQUEsa0JBQWtCLENBQUM7RUFDZixPQUFPLEVBQUUsR0FBRztFQUNaLFlBQVksRUFBRSxJQUFJO0VBQ2xCLGFBQWEsRUFBRSxHQUFHO0NBQ3JCIn0= */